.table thead tr th:first-child,
.table thead tr th:last-child,
.table tbody tr td:first-child,
.table tbody tr td:last-child
{
    text-align: center;
}

.table tbody tr td:first-child
{
    width: 150px;
}

.table tbody tr td:last-child
{
    width: 150px;
}